<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2 class="text-light">Player List</h2>

        <div>
            <label for="sortBy" class="form-label text-light me-2">Sort By:</label>
            <select
                id="sortBy"
                class="form-select d-inline-block w-auto"
                (change)="onSortChange($event)">
                    <option value="playerId">Player ID</option>
                    <option value="playerName">Player Name</option>
                    <option value="jerseyNumber">Jersey Number</option>
                    <option value="role">Role</option>
            </select>
        </div>
    </div>
  
    <div *ngIf="isLoading" class="text-center text-light">
        <span class="loader"></span>
    </div>

    <div *ngIf="isError" class="alert alert-danger text-center p-2 w-50 mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <p>{{ errorMessage }}</p>
    </div>

    <table *ngIf="!isLoading && !isError && players.length > 0" class="table table-dark table-striped">

        <thead>
            <tr>
                <!-- <th scope="col">S No.</th> -->
                <th scope="col">Player ID</th>
                <th scope="col">Player Name</th>
                <th scope="col">Jersey Number</th>
                <th scope="col">Role</th>
                <th scope="col">Modify</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let player of players; let i=index;">
                <!-- <td>{{ i + 1 }}</td> -->
                <td>{{ player.playerId }}</td>
                <td>{{ player.playerName }}</td>
                <td>{{ player.jerseyNumber }}</td>
                <td>{{ player.role }}</td>
                <td>
                    <button class="btn btn-sm btn-primary" [routerLink]="['/players/edit', player.playerId]">Edit</button>
                    <button class="btn btn-sm btn-danger ms-2" (click)="deletePlayer(player.playerId.toString())">Delete</button>
                </td>
            </tr>
        </tbody>

    </table>
  
    <div *ngIf="!isLoading && !isError && players.length === 0" class="text-center text-light">
        <p>No players found.</p>
    </div>

</div>  